

:root {
    --vermelho-principal: #DF171A;
    --vermelho-escuro: #A90000;
    --vermelho-claro: #da5757;
    --preto-principal: #000000;
    --preto-claro: #333333;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    color: #fff;
    padding: 0px 30px 0px 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    font-size: 16px;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}

header nav ul li a:hover {
    background-color: rgb(43, 43, 43);
    padding: 8px;
    border-radius: 5px;
}


.logo img {
    width: 80px;
}

.banner div {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../imagens/banner.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-align: center;
}

.banner div p {
    font-size: 25px;
    margin-top: 20px;
}

article {
    font-size: 22px;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    margin: auto;
    max-width: 1100px;
}

.sobre .textos {
    width: 100%;
    max-width: 500px;
    text-indent: 30px;
    text-align: justify;
    margin-right: 50px;
    line-height: 25px;
    font-size: 20px;
}

.sobre .textos h1 {
    font-size: 36px;
    text-align: start;
    margin-bottom: 20px;
    font-weight: 500;
}

.sobre img {
    width: 100%;
    max-width: 750px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: #0000005d 2px 2px 10px;
}

.beneficios {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    max-width: 1300px;
    margin: auto;
    font-size: 27px;
}

.beneficios .box-beneficios {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
}

.beneficios .box-beneficios .beneficio {
    padding: 30px;
    border-radius: 10px;
    max-width: 700px;
    text-align: center;
}

.beneficios .box-beneficios .beneficio h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.banner-desconto {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner-desconto a {
    width: 99%;
}

.banner-desconto a img {
    width: 100%;
    border-radius: 20px;
    box-shadow: #0000005d 2px 2px 10px;
}

section.planos {
    background-color: #111111;
    color: white;
    display: block;
    padding: 50px 20px;
    margin: auto;
    font-size: 20px;
}

section.planos .titulo {
    font-size: 32px;
    text-align: center;
    padding-bottom: 40px;
}

section.planos .planos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1300px;
    margin: auto;
    font-size: 20px;
}

section.planos .planos-container .plano {
    padding: 40px;
    border-radius: 10px;
    width: 700px;
    height: 600px;
    text-align: center;
    background-color: rgb(88, 88, 88);
    box-shadow: #0000005d 2px 2px 10px;
    font-size: 20px;
}

.plano h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: start;
}

.plano p {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 10px;
}

.plano .preco {
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
    text-align: start;
}

.plano .botao-assinar {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--vermelho-principal);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease;
    margin-bottom: 30px;
    margin-top: 10px;
}

.plano .botao-assinar:hover {
    background-color: #ce0000;
}

.plano ul {
    list-style: none;
    text-align: left;
    line-height: 30px;
}

.plano ul li {
    text-align: left;
}

.plano ul li::before {
    content: "✓";
    color: yellow;
    margin-right: 10px;
}

section.localizacao {
    display: block;
    justify-content: center;
    padding: 50px 20px;
    max-width: 1100px;
    margin: auto;
}

section.localizacao .titulo {
    font-size: 36px;
    text-align: start;
    margin-top: 10px;
    font-weight: 400;
}

section.localizacao .localizacao-container {
    display: flex;
    align-items: center;
}

section.localizacao .localizacao-container .textos {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 20px;
    text-align: justify;
}

section.localizacao .localizacao-container p {
    max-width: 500px;
    line-height: 30px;
}

section.localizacao .localizacao-container .mapa{
    display: flex;
    flex: 1
}

section.localizacao .localizacao-container .mapa iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: #0000005d 2px 2px 10px;
}

.endereco {
    font-size: 20px;
    margin-top: 30px;
}

section.contato {
    display: flex;
    flex-direction: column;
    background-color: #111111;
}

section.contato .titulo-container {
    text-align: center;
    padding: 30px;
    padding-top: 50px;
    color: white;
}

section.contato .titulo-container .titulo {
    font-size: 38px;
}

section.contato .contato-container {
    display: flex;
    justify-content: center;
}

section.contato .contato-container .contato {
    margin: 30px;
    padding: 30px;
    height: 350px;
    background-color: rgb(88, 88, 88);
    border-radius: 20px;
}

section.contato .contato-container .contato i {
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
}

section.contato .contato-container .contato h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
}

section.contato .contato-container .contato p {
    font-size: 22px;
    background-color: var(--vermelho-principal);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease;
    margin-top: 10px;
}

section.contato .contato-container .contato .clique {
    background-color: transparent;
    color: rgb(226, 226, 226);
    font-size: 18px;
}

section.contato .contato-container .contato p:hover {
    transform: scale(1.1);
}

section.contato .contato-container .contato a {
    text-decoration: none;
}

footer {
    background-color: #111111;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 20px;
}

@media (max-width: 1250px) {
    .planos-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contato {
        align-items: center;
    }

    .contato-container {
        flex-direction: column;
        width: 600px;
    }

    .contato-contanier .contato {
        width: 300px;
    }

    .contato .contato-container .contato p {
        width: 300px;
        margin-top: 30px;
    }
}

@media (max-width: 1120px) {
    .sobre {
        flex-direction: column;
    }

    .sobre .textos {
        margin-right: 0;
        text-align: center;
    }
}



@media (max-width: 768px) {
    .sobre {
        flex-direction: column;
    }

    .sobre .textos {
        margin-right: 0;
        text-align: left;
    }

    .beneficios .box-beneficios {
        flex-direction: column;
    }

    section.planos .planos-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    section.planos .planos-container .plano {
        width: 100%;
        height: auto;
        text-align: left;
    }

    .plano .botao-assinar {
        margin-bottom: 40px;
        font-size: 30px;
    }

    section.localizacao .localizacao-container {
        display: block;
        margin: auto;
    }

    section.localizacao .localizacao-container .textos {
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: justify;

    }

    section .contato .contato-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .contato-container .contato {
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
    }

    .banner div {
        height: 500px;
        font-size: 20px;
    }

    .banner div p {
        font-size: 18px;
        max-width: 250px;
    }

    .sobre {
        flex-direction: column;
    }

    .sobre .textos {
        text-align: left;
        font-size: 18px;
        line-height: 25px;
    }

    .sobre img {
        max-width: 100%;
        margin-bottom: 0px;
    }

    .beneficios {
        margin-top: 0px;
    }

    .box-beneficios .beneficio {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    .box-beneficios .beneficio h2 {
        font-size: 20px;
    }

    .beneficios .box-beneficios {
        flex-direction: column;
    }

    .planos {
        font-size: 18px;
    }

    section.planos .planos-container {
        flex-direction: column;
        width: 100%;
        max-width: 350px;
    }

    section.planos .planos-container .plano {
        width: 100%;
        height: auto;
        text-align: left;
        font-size: 15px;
    }

    .localizacao-container {
        display: flex;
        width: 100%;
    }

    .localizacao-container .textos {
        width: 100%;

    }

    .localizacao-container .mapa iframe {
        width: 100%;
        height: 150px;
    }

    .contato-container {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .contato-container .contato {
        text-align: center;
        height: 100px;
    }
}